conda.enabled = true
params {
    //Path to your trinity file 
    trinity_fasta = '${workflow.projectDir}/Test_files/DP3_PD_test.fasta'

    // Path to your trimmed paired reads
    R1 = '${workflow.projectDir}/Test_files/R1_test.fastq.gz'
    R2 = '${workflow.projectDir}/Test_files/R2_test.fastq.gz'

    // Path to Transdecoder directory containing the .longorfs and .predict scripts
    TRANSDECODER_PATH = 'PATH/transdecoder'

    // Path to SignalP script
    SIGNALP_PATH = 'PATH/signalp-5.0b/bin'

    //Path to Interproscan 
    INTERPROSCAN_PATH = 'PATH/interproscan.sh'

    // Sample name 
    Sample_name = 'NULL'

    // Path to BUSCO lineages files  can be changed to any two lineage files
    metazoa = '/lineages/metazoa_odb10'
    mollusca = '/lineages/mollusca_odb10'

    // Path to protein fasta file to be used for BLAST 
    database_fasta = '${workflow.projectDir}/Test_files/unitox_curated.fastq.gz' 
    database_name = 'unitox_curated' 

    // Library strand orientation (can be 'fr', 'rf', or '')
    stranded_input = ''

    //Genome fasta optional 
   genomefasta = 'NULL'
   genomefastaname = 'NULL'

}


