// Manifest 
manifest {
    name = 'Venomflow'
    author = 'Holford Lab'
    homePage = 'https://github.com/lexatrash23/Nf-vf-pn-092025'
    description = 'Bulk Paired-end RNAseq analysis pipeline for identification of putative venom transcripts.'
    mainScript = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version = '1.0.0'
}

manifest.defaultBranch = 'main'

// CONDA and SINGULARITY // Default Conda
conda.enabled = true
docker.enabled = false
singularity.enabled = false

profiles {
    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
        process.beforeScript = '''
            if [ -f ~/.bashrc ]; then source ~/.bashrc; fi
            if [ -f ~/miniconda3/etc/profile.d/conda.sh ]; then source ~/miniconda3/etc/profile.d/conda.sh; fi
            if [ -f ~/anaconda3/etc/profile.d/conda.sh ]; then source ~/anaconda3/etc/profile.d/conda.sh; fi
            export PATH=$PATH:$CONDA_PREFIX/bin
        '''
    }
    
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        wave.enabled = true 
        conda.enabled = false
        singularity.enabled = false
        cacheDir = "${launchDir}/docker_cache"
    }
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        wave.enabled = true 
        conda.enabled = false
        docker.enabled = false
        cacheDir = "${launchDir}/singularity_cache"
          env {
            APPTAINER_CACHEDIR = "${launchDir}/apptainer_cache"
            APPTAINER_TMPDIR = "${launchDir}/apptainer_tmp"
        }
    }

}

    includeConfig 'https://raw.githubusercontent.com/nf-core/configs/master/nextflow.config'

// Settings for Holford Lab BRIDGES CLUSTER
process {
    executor = 'slurm'
    queue = 'RM-shared'

    //  RSS < 2 GB
    withLabel: 'process_bare' {
        cpus = 1
        time = 1.h
    }
    //  RSS < 4 GB
    withLabel: 'process_single' {
        cpus = 2
        time = 2.h
    }

    //  RSS < 8 GB
    withLabel: 'process_double' {
        cpus = 4
        time = 4.h
    }
    
    // RSS < 15 GB
    withLabel: 'process_low' {
        cpus = 5
        time = 4.h
    }
    
    // Standard < 25GB
    withLabel: 'process_medium' {
        cpus = 10
        time = 8.h
    }



        withLabel: 'process_high' {
        cpus = 26
        memory = 50.GB

        }

    
    // Long runtime
    withLabel: 'process_long' {
        time = 24.h
    }
}



params {
    input_csv = 'SampleSheet.csv'
    DeepTMHMM = false  // default to false

}



