conda.enabled = true
singularity{
    enabled = true
    autoMounts = true
}

includeConfig 'https://raw.githubusercontent.com/nf-core/configs/master/nextflow.config'

timeline {
    overwrite = true
}

trace {
    overwrite = true
}

report {
    overwrite = true
}

dag {
    overwrite = true
}

params {
    //Path to your trinity file 
    trinity_fasta = "Test_files/trinity_test.fasta"

    // Path to your trimmed paired reads
    R1 = "Test_files/left.test.fastq.gz"
    R2 = "Test_files/right.test.fastq.gz"

    // Path to Transdecoder directory containing the .longorfs and .predict scripts
    //TRANSDECODER_PATH = 'transdecoder' // using container. Let's see if it works

    // Path to SignalP script
    SIGNALP_PATH = 'signalp-5.0b/bin' // done

    //Path to Interproscan 
    INTERPROSCAN_PATH = 'interproscan-5.76-107.0/interproscan.sh' //done

    // Sample name 
    Sample_name = 'test'

    // Path to BUSCO lineages files  can be changed to any two lineage files
    metazoa = 'lineages/metazoa_odb10'
    mollusca = 'lineages/mollusca_odb10'

    // Path to protein fasta file to be used for BLAST 
    database_fasta = 'Test_files/unitox_curated.fasta'
    database_name = 'unitox_curated.fasta' 

    // Library strand orientation (can be 'fr', 'rf', or '')
    stranded_input = ''

    //Genome fasta optional 
   genomefasta = 'NULL'
   genomefastaname = 'NULL'

}

process{
    time = '1h'
    memory = '8 GB'
    withName: "Interproscan" {
        memory = '32 GB'    
    }
}
